<template>
    <div class="waiting">
        Not yet available
    </div>
</template>
<script>
    export default {

    }
</script>
<style scoped>
    .waiting {
        padding: 10px;
        color: #555;
    }
</style>

